<%- include('./partials/header-container'); -%>
  <body>
    <div class="container">
      <%- include('./partials/title-container'); -%>
      <%- include('./partials/result-container'); -%>

    </div>
  </body>
<%- include('./partials/footer-container'); -%>
