body {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 4.5rem;
  font-weight: bold;
}

form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form button {
  margin-left: 10px;
}

a {
  color: #222831;
}

a:hover {
  color: #393e46;
  text-decoration: none;
}

.title_container {
  margin-top: 50px;
  text-align: center;
}

.title_container img {
  margin-bottom: 20px;
}

.result_container,
.clicks_container {
  width: 40vw;
  margin: 15px auto;
}

.error_container {
  margin-top: 50px;
  text-align: center;
}

.credits_container {
  position: sticky;
  bottom: 0px;
  width: 100vw;
  text-align: center;
  font-size: 1rem;
}

#clicks {
  font-size: 1.5rem;
  font-weight: bold;
}

#githublink a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  h1 {
    font-size: 3.5rem;
  }

  .result_container,
  .clicks_container {
    width: 90vw;
  }
}
