<div class="about_container">
    <img class="about_image" src="/img/about.svg" alt="Sobre Nós" /><br><br>
    <h2>Sobre o Abreviador</h2>
    <p>O Abreviador nasceu da ideia que eu, Thiago, 
        tive durante a pandemia no ano de 2020, quando 
        iniciei meus estudos em programação.
    </p>
    <p>    
    Este projeto foi realizado para reunir todos os
        conhecimentos adquiridos durante o ano e para entender
        na prática como um projeto real funciona em um ambiente
        de produção.
    </p>
    <p>
        Este site foi desenvolvido com o intuito de ajudar pessoas
        que trabalham no mercado digital e possuem grandes dificuldades
        em fornecer links curtos e práticos para os seus seguidores.
    </p>   
    <p>    
    No Abreviador, você poderá acompanhar seu link e saber como
        sua campanha está performando!
    </p>
    <p>
        Esperamos estar do seu lado em 2021.
    </p>        
    <p>  
        <a id="githublink" href="https://www.github.com/vieiratn" target="_blank">Thiago Nascimento</a>
    </p>
    <p>    
        <strong>Desenvolvedor e Administrador do Abreviador</strong>.
    </p>
</div>