<div class="clicks_container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><strong>Número de Acessos:</strong></h5>
      <p class="card-text">
        Esta URL Abreviada possui
        <span id="clicks"><%= result.clicks %></span> acessos.
      </p>
    </div>
  </div>
</div>
