<footer class="footer">
  <div class="bg-light credits_container">
    <span class="text-muted">
      Software Livre Desenvolvido com &#10084;&#65039; por 
      <a  href="http://github.com/vieiratn" target="_blank">Thiago Nascimento</a>
    </span>
  </div>  
</footer>
