<div class="details_container">
    <div class="details_title">
        <h2>Vantagens e Benefícios</h2>
    </div>

    <div class="details_subtitle">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem molestiae non nulla deserunt laboriosam praesentium voluptas assumenda, id excepturi ullam rem pariatur veniam laborum animi quisquam quod quos veritatis dolore.</p>
    </div>
    
    <div class="details_cards">
        <div class="card bg-light mb-3">
            <img class="card-img-top card_image" src="/img/fast.svg" alt="Rápido">
            <div class="card-body">
                <h5 class="card-title">Rápido</h5>
                <p class="card-text">Não tem segredo, basta copiar o link que deseja abreviar e solicitar ao sistema, sem enrolação, sem espera, sem propaganda e sem letras miúdas.</p>
        </div>
        </div>
        <div class="card bg-light mb-3">
            <img class="card-img-top card_image" src="/img/secure.svg" alt="Seguro">
            <div class="card-body">
                <h5 class="card-title">Seguro</h5>
                <p>Este sistema é criptografado de ponta a ponta através da conexão segura. Não solicitamos cadastro e nem os seus dados pessoais, desta forma, garantimos a segurança das suas informações.</p>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <img class="card-img-top card_image" src="/img/unregister.svg" alt="Sem Cadastro">
            <div class="card-body">
                <h5 class="card-title">Sem Cadastros</h5>
                <p>Não exigimos cadastros e informações pessoais delicadas, desta forma, você pode rapidamente utilizar o sistema sem se preocupar com a sua identidade.</p>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <img class="card-img-top card_image" src="/img/statistic.svg" alt="Estatísticas de Acessos">
            <div class="card-body">
                <h5 class="card-title">Estatísticas de Acessos</h5>
                <p>Controle facilmente o número de acessos que o seu link recebeu, basta utilizar o sistema clicando no botão abaixo para estatísticas de acesso.</p>
                <a class="btn btn-success" href="/status" role="button">Consultar Acessos</a>
            </div>
        </div>
    </div>
</div>

