<div class="form_container">
  <form method="POST" action="/url">
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <input
            type="url"
            class="form-control"
            id="basic-url"
            name="url"
            aria-describedby="basic-addon3"
            autocomplete="off"
            placeholder="Cole aqui sua URL"
            required
          />
          <button type="submit" class="btn btn-primary btn-submit-form">Abreviar!</button>
        </div>
      </div>
    </div>
  </form>
</div>
