<div class="report_container">
    <img class="report_image" src="/img/report.svg" alt="Reportar Link" /><br><br>
    <h2>Reportar Link</h2>
    <p>Para reportar um link que está fora dos Termos e Condições de Uso deste site, basta enviar um email para o endereço abaixo.</p>
    <a class="contact_email" href="mailto:contato@abreviador.com">contato@abreviador.com</a>     

</div>