<div class="form_container">
    <form method="POST" action="status/url">
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <input
              type="text"
              class="form-control"
              id="short-url"
              name="shorturl"
              aria-describedby="basic-addon3"
              autocomplete="off"
              placeholder="Cole aqui sua URL"
              required
            />
            <button type="submit" class="btn btn-primary btn-submit-form">Estatísticas!</button>
          </div>
        </div>
      </div>
    </form>
  </div>