<div class="terms_container">
    <img class="terms_image" src="/img/terms.svg" alt="Sobre Nós" /><br><br>
    <h2>Termos e Condições de Uso</h2>
    <p>O site está disponível para o acesso a todos os usuários sem restrições de idade ou país e por isso você precisa concordar com as condições de uso ao utilizar os nossos serviços.</p>
    <p>Com o objetivo de fornecer um serviço seguro para os usuários, não é permitido criar links encurtados que redirecionam para URLs que tem:</p>
    <ul>
        <li>Conteúdo que dissemina phishing, malware ou vírus.</li>
        <li>Conteúdo pornográfico, sexual, violento ou preconceituoso.</li>
        <li>Conteúdo relacionado a drogas, armas ou bebidas.</li>
        <li>Qualquer conteúdo que possa infrigir direitos de outras pessoas.</li>
        <li>Conteúdo nojento, explícito ou repugnante que cause qualquer tipo de desconforto aos outros usuários.</li>
        <li>Conteúdo para coletar dados e informações pessoais dos usuários.</li>
        <li>Além disso, não use o Encurtador para encurtar links com scripts, códigos maliciosos, janelas pop up, redirecionamento duplos, páginas sem conteúdo e campanhas publicitárias.</li>
    </ul>
    <p>Todo link criado é verificado por nossa equipe, se percebemos qualquer tipo de comportamento abusivo que viola nossos termos de serviço no encurtamento de links, eles serão deletados sem aviso prévio. Os links encurtados que não recebem cliques dentro de 30 dias também serão deletados.</p>
</div>